/* @mixin flexCenter($direction, $background) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}
*/

header {
    // @include flexCenter(column, red);
    height: 100vh;
    color: $textColor;
    background: lightblue;
    button {
        background: $primaryBtn;
        /* &:hover {
            background: red;
        } */
        &::after {
            content: "Hellooo";
        }
    }
}
